@import url("https://fonts.googleapis.com/css?family=Lato:300i,400,700&subset=latin-ext");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  background-image: url(../images/main_header_bcg_image.png);
  height: 100vh;
  width: 100%;
  background-position: top 55% left 50%;
  background-repeat: no-repeat;
  position: relative;
}

.header__scrollTopButton {
  position: fixed;
  font-size: 4rem;
  color: #499175;
  right: -20%;
  bottom: 2%;
  z-index: 30;
  transition: .5s;
  cursor: pointer;
}

.header__scrollTopButton:hover {
  color: #31604e;
  transition: .5s;
}

.header .header__scrollTopButton-showUp {
  right: 2%;
  transition: .5s;
}

.header__mobileBackdrop {
  position: absolute;
  width: 100%;
  height: 300vh;
  background-color: #155e4f;
  opacity: 0.5;
  z-index: 2;
  display: none;
}

.header__mobile-nav {
  min-width: 15%;
  position: absolute;
  display: none;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.header__mobile-nav-toggle-button {
  width: 2.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  vertical-align: middle;
  margin: 0.5rem 0rem;
  position: relative;
  right: 15%;
}

.header__mobile-nav-toggle-button:focus {
  outline: none;
}

.header__mobile-nav-toggle-button-bar {
  width: 100%;
  height: 0.1rem;
  background: black;
  display: block;
  margin: 0.4rem 0;
}

.header__mobile-nav-logo {
  width: 20%;
  position: relative;
  right: 10%;
}

.header__mobile-nav-elements {
  display: none;
}

.header .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  width: 100%;
}

.header .nav__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 80%;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0;
  margin: 1% 0;
  list-style-type: none;
}

.header .nav__items-item {
  margin: 0 4%;
}

.header .nav__items-logo {
  padding: 0 1rem;
}

.header .nav__items-link {
  text-decoration: none;
  color: #4d4959;
  font-weight: 700;
}

.header .nav__items-link:hover {
  color: #5cc4af;
  transition: .4s;
}

.header .nav__fixed-menu {
  position: fixed;
  width: 100%;
  z-index: 20;
  background-color: #40504d;
  opacity: 0.8;
  transition: 2s;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.header .nav__fixed-menu-color-change {
  color: white;
}

@media (max-width: 80rem) {
  .header {
    height: 100vh;
    background-size: cover;
    position: relative;
  }
  .header__scrollTopButton {
    display: fixed;
  }
  .header .header__scrollTopButton-showUp {
    right: 2%;
    transition: .5s;
  }
}

@media (max-width: 60rem) {
  .header {
    height: 70vh;
    background-size: cover;
    background-position: top 55% right 50%;
    position: relative;
  }
  .header__scrollTopButton {
    display: none;
  }
  .header .header__scrollTopButton-showUp {
    right: 2%;
    transition: .5s;
  }
  .header__mobile-nav-elements {
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-pack: center;
        justify-content: center;
    position: absolute;
    background-color: #282f35;
    width: 40%;
    height: 300vh;
    opacity: 0.95;
    z-index: 10;
    left: -70%;
  }
  .header__mobile-nav-elements-toggle-button {
    position: absolute;
    width: 2.8rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.6rem 0.4rem;
    z-index: 1;
    left: 2%;
  }
  .header__mobile-nav-elements-toggle-button:focus {
    outline: none;
  }
  .header__mobile-nav-elements-toggle-button-bar {
    width: 100%;
    height: 0.1rem;
    background: white;
    display: block;
    margin: 0.4rem 0;
  }
  .header__mobile-nav-elements-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    list-style-type: none;
    margin-top: 10%;
  }
  .header__mobile-nav-elements-items-logo {
    width: 70%;
    margin-bottom: 1rem;
  }
  .header__mobile-nav-elements-items-item {
    font-size: 2rem;
  }
  .header__mobile-nav-elements-items-item-link {
    text-decoration: none;
    color: white;
  }
  .header__mobile-nav-elements-items-item-dot {
    color: white;
  }
  .header .nav {
    display: none;
  }
  .header__mobile-nav {
    display: -ms-flexbox;
    display: flex;
  }
  .header__mobile-nav-animate {
    left: 0%;
    transition: .4s;
  }
  .header__mobile-nav-animate-back {
    left: -70%;
    transition: .4s;
  }
}

@media (max-width: 40rem) {
  .header {
    height: 40vh;
    background-position: bottom 55% left 50%;
    background-size: cover;
  }
  .header__scrollTopButton {
    display: none;
  }
  .header__mobile-nav-elements {
    width: 70%;
  }
  .header__mobile-nav-elements-items {
    margin-top: 25%;
  }
  .header .nav {
    display: none;
  }
  .header__mobile-nav {
    display: -ms-flexbox;
    display: flex;
  }
}

.vintageBike {
  background-color: #f7f7f7;
}

.vintageBike__description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 6rem 8rem;
  font-size: .8rem;
}

.vintageBike__description-title {
  font-size: 1.1rem;
  margin: 1.5rem 0;
  letter-spacing: .3rem;
}

.vintageBike__description-paragraph {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #848789;
  text-align: center;
  max-width: 70rem;
}

@media (max-width: 60rem) {
  .vintageBike {
    background-color: #f7f7f7;
  }
  .vintageBike__description {
    padding: 3rem 6rem;
  }
  .vintageBike__description-title {
    padding: 0 1rem;
    text-align: center;
  }
  .vintageBike__description-paragraph {
    text-align: center;
  }
}

@media (max-width: 40rem) {
  .vintageBike__description {
    padding: 2rem 0;
  }
  .vintageBike__description-title {
    text-align: center;
  }
  .vintageBike__description-paragraph {
    padding: 2rem 1.5rem;
    text-align: justify;
  }
}

.vintageOliva {
  display: -ms-flexbox;
  display: flex;
}

.vintageOliva__big-image-container, .laBoriosa__big-image-container, .mHulot__left-image-container, .mHulot__right-image-container {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: center;
      justify-content: center;
  width: 70%;
  background-color: pink;
}

.vintageOliva__big-image-container-big-image, .laBoriosa__big-image-container-big-image, .mHulot__left-image-container-left-image, .mHulot__right-image-container-right-image {
  width: 100%;
  height: 100%;
  background-color: #282f35;
}

.vintageOliva__big-image-container-center-logo, .laBoriosa__big-image-container-center-logo {
  position: absolute;
  bottom: 35%;
  width: 15%;
  height: 25%;
}

.vintageOliva__description, .laBoriosa__description, .mHulot__description {
  width: 30%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.vintageOliva__description-text, .laBoriosa__description-text, .mHulot__description-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
}

.vintageOliva__description-title, .laBoriosa__description-title, .mHulot__description-title {
  font-size: 1rem;
  letter-spacing: .3rem;
  padding: 1.5rem;
}

.vintageOliva__description-logo, .laBoriosa__description-logo, .mHulot__description-logo {
  padding-top: 1.5rem;
}

.vintageOliva__description-paragraph, .laBoriosa__description-paragraph, .mHulot__description-paragraph {
  font-size: 0.7rem;
  color: #848789;
  text-align: justify;
  line-height: 1.4rem;
  max-width: 100%;
  padding-bottom: 2rem;
  letter-spacing: 0.3px;
}

.vintageOliva__description-horizontal-line, .laBoriosa__description-horizontal-line, .mHulot__description-horizontal-line {
  width: 15%;
  height: 0.1rem;
  background: #b5babd;
  display: block;
  margin: 0.6rem 0;
}

.vintageOliva__description-arrow-box, .laBoriosa__description-arrow-box, .mHulot__description-arrow-box {
  width: 30px;
  height: 30px;
  background-color: white;
  position: relative;
  top: 5px;
  transform: rotate(45deg);
}

.vintageOliva__small-image-container, .laBoriosa__small-image-container {
  display: -ms-flexbox;
  display: flex;
}

.vintageOliva__small-image-container-small-image, .laBoriosa__small-image-container-small-image, .mHulot__small-image-container-small-image {
  width: 100%;
  height: 100%;
  background-color: #282f35;
}

@media (max-width: 60rem) {
  .vintageOliva {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .vintageOliva__big-image-container, .laBoriosa__big-image-container, .mHulot__left-image-container, .mHulot__right-image-container {
    width: 100%;
  }
  .vintageOliva__description, .laBoriosa__description, .mHulot__description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    padding: 0 2rem;
  }
  .vintageOliva__description-logo, .laBoriosa__description-logo, .mHulot__description-logo {
    padding-top: 1.5rem;
  }
  .vintageOliva__description-horizontal-line, .laBoriosa__description-horizontal-line, .mHulot__description-horizontal-line {
    margin-bottom: 3rem;
  }
  .vintageOliva__description-arrow-box, .laBoriosa__description-arrow-box, .mHulot__description-arrow-box {
    display: none;
  }
  .vintageOliva__small-image-container, .laBoriosa__small-image-container {
    display: none;
  }
}

@media (max-width: 40rem) {
  .vintageOliva {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .vintageOliva__big-image-container, .laBoriosa__big-image-container, .mHulot__left-image-container, .mHulot__right-image-container {
    width: 100%;
  }
  .vintageOliva__description, .laBoriosa__description, .mHulot__description {
    width: 100%;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .vintageOliva__small-image-container, .laBoriosa__small-image-container {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
  }
}

.laBoriosa {
  display: -ms-flexbox;
  display: flex;
}

.laBoriosa__small-image-container-small-image {
  background-color: #282f35;
}

.laBoriosa__big-image-container-big-image {
  background-color: #282f35;
}

@media (max-width: 60rem) {
  .laBoriosa {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .laBoriosa__big-image-container {
    width: 100%;
  }
  .laBoriosa__description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    width: 100%;
    padding: 0;
  }
  .laBoriosa__description-logo {
    padding-top: 1.5rem;
  }
  .laBoriosa__small-image-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media (max-width: 40rem) {
  .laBoriosa {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .laBoriosa__big-image-container {
    width: 100%;
  }
  .laBoriosa__description {
    width: 100%;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .laBoriosa__small-image-container {
    display: none;
    -ms-flex-order: -1;
        order: -1;
  }
}

.mHulot {
  display: -ms-flexbox;
  display: flex;
}

.mHulot__left-image-container {
  width: 33%;
}

.mHulot__left-image-container-left-image {
  width: 100%;
}

.mHulot__left-image-container-center-logo {
  position: absolute;
  bottom: 35%;
}

.mHulot__description {
  width: 34%;
}

.mHulot__description-paragraph {
  padding-bottom: 0;
}

.mHulot__small-image-container {
  display: -ms-flexbox;
  display: flex;
}

.mHulot__small-image-container-small-image {
  width: 100%;
}

.mHulot__right-image-container {
  width: 33%;
}

.mHulot__right-image-container-right-image {
  width: 100.2%;
}

@media (max-width: 60rem) {
  .mHulot {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
  }
  .mHulot__left-image-container {
    display: none;
  }
  .mHulot__description {
    width: 100%;
  }
  .mHulot__description-paragraph {
    padding-bottom: 0;
  }
  .mHulot__small-image-container {
    display: -ms-flexbox;
    display: flex;
  }
  .mHulot__small-image-container-small-image {
    display: none;
  }
  .mHulot__right-image-container {
    width: 100%;
  }
  .mHulot__right-image-container-right-image {
    width: 100.2%;
  }
}

@media (max-width: 40rem) {
  .mHulot {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
  }
  .mHulot__left-image-container {
    display: none;
  }
}

.tweeterCarousel {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.tweeterCarousel__slide {
  display: none;
}

.tweeterCarousel__slide-tweet {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 5rem 0;
  font-size: .8rem;
}

.tweeterCarousel__slide-tweet-title {
  font-size: 1.1rem;
  padding: 2rem 0;
  letter-spacing: 1px;
}

.tweeterCarousel__slide-tweet-text {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: grey;
  width: 75%;
}

.tweeterCarousel__dots {
  text-align: center;
  padding-bottom: 3rem;
}

.tweeterCarousel__dots-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border: 0.5px solid #dfdcdc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.tweeterCarousel__dots-dot:hover {
  background-color: #a9afb3;
}

.tweeterCarousel .active {
  background-color: #a9afb3;
}

.tweeterCarousel .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: .3;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 40rem) {
  .tweeterCarousel__slide-tweet-title {
    font-size: 1.0rem;
  }
  .tweeterCarousel__slide-tweet-text {
    font-size: 1.1rem;
    width: 80%;
  }
  .tweeterCarousel__dots-dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 .2rem;
  }
  .tweeterCarousel__dots-dot:hover {
    background-color: #a9afb3;
  }
}

.bikesImages {
  display: -ms-flexbox;
  display: flex;
}

.bikesImages__container-left {
  width: 33%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #FCFFFF;
  position: relative;
}

.bikesImages__container-left-top-images {
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

.bikesImages__image-1-container {
  width: 50%;
  position: relative;
  background-color: white;
}

.bikesImages__image-1-container:hover .bikesImages__image-1, .bikesImages__image-1-container:hover .bikesImages__image-2, .bikesImages__image-1-container:hover .bikesImages__image-3, .bikesImages__image-1-container:hover .bikesImages__image-4, .bikesImages__image-1-container:hover .bikesImages__image-5, .bikesImages__image-1-container:hover .bikesImages__image-6, .bikesImages__image-1-container:hover .bikesImages__image-7, .bikesImages__image-1-container:hover .bikesImages__image-8 {
  opacity: 0.3;
}

.bikesImages__image-1-container:hover .bikesImages__image-1-hover, .bikesImages__image-1-container:hover .bikesImages__image-2-hover, .bikesImages__image-1-container:hover .bikesImages__image-3-hover, .bikesImages__image-1-container:hover .bikesImages__image-4-hover, .bikesImages__image-1-container:hover .bikesImages__image-5-hover, .bikesImages__image-1-container:hover .bikesImages__image-6-hover, .bikesImages__image-1-container:hover .bikesImages__image-7-hover, .bikesImages__image-1-container:hover .bikesImages__image-8-hover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bikesImages__image-1-container:hover {
  background-color: #499175;
}

.bikesImages__image-1, .bikesImages__image-2, .bikesImages__image-3, .bikesImages__image-4, .bikesImages__image-5, .bikesImages__image-6, .bikesImages__image-7, .bikesImages__image-8 {
  width: 100%;
  height: 100%;
  transition: .5s;
  position: relative;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

.bikesImages__image-1-hover, .bikesImages__image-2-hover, .bikesImages__image-3-hover, .bikesImages__image-4-hover, .bikesImages__image-5-hover, .bikesImages__image-6-hover, .bikesImages__image-7-hover, .bikesImages__image-8-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0%;
  display: none;
}

.bikesImages__image-1-hover-paragraph, .bikesImages__image-2-hover-paragraph, .bikesImages__image-3-hover-paragraph, .bikesImages__image-4-hover-paragraph, .bikesImages__image-5-hover-paragraph, .bikesImages__image-6-hover-paragraph, .bikesImages__image-7-hover-paragraph, .bikesImages__image-8-hover-paragraph {
  color: white;
  font-size: 0.8rem;
  letter-spacing: 2.8px;
  font-weight: 700;
  padding-top: 0.5rem;
}

.bikesImages__image-2-container {
  width: 50%;
  height: 100%;
  position: relative;
  background-color: #fff;
}

.bikesImages__image-2-container:hover .bikesImages__image-2 {
  opacity: 0.3;
}

.bikesImages__image-2-container:hover .bikesImages__image-2-hover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bikesImages__image-2-container:hover {
  background-color: #499175;
}

.bikesImages__image-3-container-bottom-left {
  width: 100%;
  height: 50%;
  position: relative;
  background-color: #fff;
}

.bikesImages__image-3-container-bottom-left:hover .bikesImages__image-3 {
  opacity: 0.3;
}

.bikesImages__image-3-container-bottom-left:hover .bikesImages__image-3-hover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bikesImages__image-3-container-bottom-left:hover {
  background-color: #499175;
}

.bikesImages__container-middle {
  display: -ms-flexbox;
  display: flex;
  width: 33%;
}

.bikesImages__image-4-container {
  width: 50%;
  background-color: #000000;
  position: relative;
}

.bikesImages__image-4-container:hover .bikesImages__image-4 {
  opacity: 0.3;
}

.bikesImages__image-4-container:hover .bikesImages__image-4-hover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bikesImages__image-4-container:hover {
  background-color: #499175;
}

.bikesImages__image-5-container {
  width: 50%;
  background-color: #fff;
  position: relative;
}

.bikesImages__image-5-container:hover .bikesImages__image-5 {
  opacity: 0.3;
}

.bikesImages__image-5-container:hover .bikesImages__image-5-hover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bikesImages__image-5-container:hover {
  background-color: #499175;
}

.bikesImages__container-right {
  display: -ms-flexbox;
  display: flex;
  width: 34%;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.bikesImages__image-6-container {
  width: 100%;
  background-color: #fff;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.bikesImages__image-6-container:hover .bikesImages__image-6 {
  opacity: 0.3;
}

.bikesImages__image-6-container:hover .bikesImages__image-6-hover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bikesImages__image-6-container:hover {
  background-color: #499175;
}

.bikesImages__container-right-bottom {
  display: -ms-flexbox;
  display: flex;
}

.bikesImages__image-7-container {
  width: 50%;
  height: 100%;
  background-color: #fff;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.bikesImages__image-7-container:hover .bikesImages__image-7 {
  opacity: 0.3;
}

.bikesImages__image-7-container:hover .bikesImages__image-7-hover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bikesImages__image-7-container:hover {
  background-color: #499175;
}

.bikesImages__image-8-container {
  width: 50%;
  height: 100%;
  background-color: #fff;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.bikesImages__image-8-container:hover .bikesImages__image-8 {
  opacity: 0.3;
}

.bikesImages__image-8-container:hover .bikesImages__image-8-hover {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.bikesImages__image-8-container:hover {
  background-color: #499175;
}

@media (max-width: 70rem) {
  .bikesImages__image-1-container {
    background-color: none;
  }
  .bikesImages__image-1-container:hover .bikesImages__image-1, .bikesImages__image-1-container:hover .bikesImages__image-2, .bikesImages__image-1-container:hover .bikesImages__image-3, .bikesImages__image-1-container:hover .bikesImages__image-4, .bikesImages__image-1-container:hover .bikesImages__image-5, .bikesImages__image-1-container:hover .bikesImages__image-6, .bikesImages__image-1-container:hover .bikesImages__image-7, .bikesImages__image-1-container:hover .bikesImages__image-8 {
    opacity: 1;
  }
  .bikesImages__image-1-container:hover {
    background-color: transparent;
  }
  .bikesImages__image-1-hover, .bikesImages__image-2-hover, .bikesImages__image-3-hover, .bikesImages__image-4-hover, .bikesImages__image-5-hover, .bikesImages__image-6-hover, .bikesImages__image-7-hover, .bikesImages__image-8-hover {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .bikesImages__image-1-hover-paragraph, .bikesImages__image-2-hover-paragraph, .bikesImages__image-3-hover-paragraph, .bikesImages__image-4-hover-paragraph, .bikesImages__image-5-hover-paragraph, .bikesImages__image-6-hover-paragraph, .bikesImages__image-7-hover-paragraph, .bikesImages__image-8-hover-paragraph {
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
  }
  .bikesImages__image-2-container:hover .bikesImages__image-2 {
    opacity: 1;
  }
  .bikesImages__image-2 {
    background-color: black;
  }
  .bikesImages__image-3-container-bottom-left:hover .bikesImages__image-3 {
    opacity: 1;
  }
  .bikesImages__image-4-container {
    display: -ms-flexbox;
    display: flex;
  }
  .bikesImages__image-4-container:hover .bikesImages__image-4 {
    opacity: 1;
  }
  .bikesImages__image-4-container:hover {
    background-color: transparent;
  }
  .bikesImages__image-4 {
    background-color: transparent;
  }
  .bikesImages__image-5-container {
    display: -ms-flexbox;
    display: flex;
  }
  .bikesImages__image-5-container:hover .bikesImages__image-5 {
    opacity: 1;
  }
  .bikesImages__image-5-container:hover {
    background-color: transparent;
  }
  .bikesImages__image-6-container:hover .bikesImages__image-6 {
    opacity: 1;
  }
  .bikesImages__image-6-container:hover {
    background-color: transparent;
  }
  .bikesImages__image-7-container:hover .bikesImages__image-7 {
    opacity: 1;
  }
  .bikesImages__image-7-container:hover {
    background-color: transparent;
  }
  .bikesImages__image-8-container:hover .bikesImages__image-8 {
    opacity: 1;
  }
  .bikesImages__image-8-container:hover {
    background-color: transparent;
  }
}

@media (max-width: 60rem) {
  .bikesImages {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .bikesImages__container-left {
    width: 100%;
  }
  .bikesImages__container-left-top-images {
    display: -ms-flexbox;
    display: flex;
    height: 50%;
  }
  .bikesImages__image-1-container {
    display: none;
  }
  .bikesImages__image-2-container {
    display: none;
  }
  .bikesImages__image-3-container-bottom-left {
    display: none;
  }
  .bikesImages__image-4-container {
    display: none;
  }
  .bikesImages__image-5-container {
    display: none;
  }
  .bikesImages__container-right {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
        align-items: center;
  }
  .bikesImages__image-6-container:hover .bikesImages__image-6 {
    opacity: 1;
  }
  .bikesImages__image-6-container:hover {
    background-color: transparent;
  }
  .bikesImages__image-6-hover {
    display: none;
  }
  .bikesImages__image-6-hover-icon {
    display: none;
  }
  .bikesImages__image-6-hover-paragraph {
    display: none;
  }
  .bikesImages__container-right-bottom {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .bikesImages__image-7-container {
    width: 100%;
  }
  .bikesImages__image-7-container:hover .bikesImages__image-7 {
    opacity: 1;
  }
  .bikesImages__image-7-container:hover {
    background-color: transparent;
  }
  .bikesImages__image-7 {
    width: 100%;
    height: 100%;
  }
  .bikesImages__image-7-hover {
    display: none;
  }
  .bikesImages__image-7-hover-icon {
    display: none;
  }
  .bikesImages__image-7-hover-paragraph {
    display: none;
  }
  .bikesImages__image-8-container {
    width: 100%;
  }
  .bikesImages__image-8-container:hover .bikesImages__image-8 {
    opacity: 1;
  }
  .bikesImages__image-8-container:hover {
    background-color: transparent;
  }
  .bikesImages__image-8 {
    width: 100%;
    height: 100%;
  }
  .bikesImages__image-8-hover {
    display: none;
  }
  .bikesImages__image-8-hover-icon {
    display: none;
  }
  .bikesImages__image-8-hover-paragraph {
    display: none;
  }
}

@media (max-width: 40rem) {
  .bikesImages {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .bikesImages__container-left {
    width: 100%;
  }
  .bikesImages__container-left-top-images {
    display: -ms-flexbox;
    display: flex;
    height: 50%;
  }
  .bikesImages__image-1-container {
    display: none;
  }
  .bikesImages__image-2-container {
    display: none;
  }
  .bikesImages__image-3-container-bottom-left {
    display: none;
  }
  .bikesImages__image-4-container {
    display: none;
  }
  .bikesImages__image-5-container {
    display: none;
  }
  .bikesImages__image-6-container:hover .bikesImages__image-6 {
    opacity: 1;
  }
  .bikesImages__image-6-container:hover {
    background-color: transparent;
  }
  .bikesImages__image-6-hover {
    display: none;
  }
  .bikesImages__image-7-container {
    width: 50%;
    height: 50%;
  }
  .bikesImages__image-7-container:hover .bikesImages__image-7 {
    opacity: 1;
  }
  .bikesImages__image-7-container:hover {
    background-color: transparent;
  }
  .bikesImages__image-7-hover {
    display: none;
  }
  .bikesImages__image-8-container {
    width: 50%;
    height: 50%;
  }
  .bikesImages__image-8-container:hover .bikesImages__image-8 {
    opacity: 1;
  }
  .bikesImages__image-8-container:hover {
    background-color: transparent;
  }
  .bikesImages__image-8-hover {
    display: none;
  }
}

.discoverShop {
  background-color: #282f35;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.discoverShop__button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 4rem;
  max-width: 15rem;
  height: 3rem;
  background-color: inherit;
  transition: 1s;
}

.discoverShop__button:focus {
  outline: none;
}

.discoverShop__button:hover {
  background-color: #499175;
  color: white;
  cursor: pointer;
}

.discoverShop__button-text {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 1.3px;
  padding: 0 2.5rem;
  color: #fff;
}

@media (max-width: 40rem), (max-width: 60rem), (max-width: 80rem) {
  .discoverShop__button {
    background-color: #499175;
  }
  .discoverShop__button:hover {
    background-color: #499175;
    cursor: default;
  }
}

.subscription {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.subscription__logo {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.subscription__text {
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
  color: #848789;
  padding-bottom: 2rem;
}

.subscription__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subscription__form-email {
  padding-right: 0.5rem;
}

.subscription__form-email-input {
  color: #acb2b6;
  font-style: italic;
  padding: 1rem 0.5rem;
  min-width: 20rem;
  box-shadow: 1px 1px 5px 0px #848789;
  border: none;
}

.subscription__form-email-input:focus {
  outline: none;
}

.subscription__form-email-button {
  background-color: #64c29e;
  padding: 0.9rem 2rem;
  color: white;
  font-size: 1rem;
  border: none;
}

.subscription__form-email-button:focus {
  outline: none;
}

.subscription__form-email-button:hover {
  cursor: pointer;
  background-color: #53b18d;
  transition: 1s;
}

@media (max-width: 40rem) {
  .subscription {
    -ms-flex-pack: center;
        justify-content: center;
    padding-bottom: 1rem;
  }
  .subscription__form {
    -ms-flex-pack: center;
        justify-content: center;
    padding-bottom: 4rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .subscription__form-email-input {
    box-shadow: 1px 1px 5px 0px #848789;
    -webkit-appearance: none;
  }
  .subscription__form-email-input:focus {
    outline: none;
  }
  .subscription__form-email-button {
    margin-top: 1rem;
    -webkit-appearance: none;
  }
  .subscription__form-email-button:hover {
    cursor: default;
    background-color: #64c29e;
  }
}

.footer {
  background-color: #f7f7f7;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 7rem 0;
}

.footer__contact {
  color: #848789;
  font-size: 0.9rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 33%;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 8rem;
}

.footer__contact-city {
  font-weight: 700;
}

.footer__contact-adress {
  font-style: italic;
}

.footer__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 33%;
  color: #fff;
}

.footer__social-twitter, .footer__social-pinterest {
  background-color: #78cdf0;
  padding: 0.5rem 0.6rem;
  margin: 0.5rem;
  border-radius: 50%;
}

.footer__social-twitter:hover, .footer__social-pinterest:hover {
  background-color: #67bce0;
  transition: .5s;
  cursor: pointer;
}

.footer__social-facebook {
  background-color: #537bbd;
  margin: 0.5rem;
  padding: 0.5rem .8rem;
  border-radius: 50%;
}

.footer__social-facebook:hover {
  background-color: #426aac;
  transition: .5s;
  cursor: pointer;
}

.footer__social-pinterest {
  background-color: #eb5755;
}

.footer__social-pinterest:hover {
  background-color: #ca4644;
  transition: .5s;
  cursor: pointer;
}

.footer__handcrafted {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 33%;
}

.footer__handcrafted-text {
  color: #848789;
  font-style: italic;
  margin-right: 1rem;
}

@media (max-width: 40rem) {
  .footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding: 3rem;
  }
  .footer__contact {
    color: #848789;
    font-size: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    padding-left: 0;
    padding-bottom: 1.5rem;
  }
  .footer__contact-adress {
    font-style: italic;
  }
  .footer__social {
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
  }
  .footer__social-twitter:hover, .footer__social-pinterest:hover {
    background-color: #78cdf0;
    cursor: default;
  }
  .footer__social-facebook:hover {
    background-color: #537bbd;
    cursor: default;
  }
  .footer__social-pinterest:hover {
    background-color: #eb5755;
    cursor: default;
  }
  .footer__handcrafted {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    padding-top: 1.5rem;
  }
}
/*# sourceMappingURL=style.prefixed.css.map */