@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,700&subset=latin-ext');
$fonts: 'Lato', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $fonts;
}

// HEADER + NAV SECTION

.header {
    background-image: url(../images/main_header_bcg_image.png);
    height: 100vh;
    width: 100%;
    background-position: top 55% left 50% ;
    background-repeat: no-repeat;
    position: relative;

    &__scrollTopButton {
        position: fixed;
        font-size: 4rem;
        color: #499175;
        right: - 20%;
        bottom: 2%;
        z-index: 30;
        transition: .5s;
        cursor: pointer;

        &:hover {
            color: #31604e;
            transition: .5s;
        }
    }

    .header__scrollTopButton-showUp {
        right: 2%;
        transition: .5s;
    }

    &__mobileBackdrop {
        position: absolute;
        width: 100%;
        height: 300vh;
        background-color: rgb(21, 94, 79);
        opacity: 0.5;
        z-index: 2;
        display: none;
    }

    &__mobile-nav {
        min-width: 15%;
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;


        &-toggle-button {
            width: 2.8rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0.2rem 0.4rem;
            vertical-align: middle;
            margin:0.5rem 0rem;
            position: relative;
            right: 15%;

            &:focus {
                outline: none;
            }

            &-bar {
                width: 100%;
                height: 0.1rem;
                background: black;
                display: block;
                margin: 0.4rem 0;
            }
        }

        &-logo {
            width: 20%;
            position: relative;
            right: 10%;
        }
    }

    &__mobile-nav-elements {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        
        &__items {
            display: flex;
            justify-content: center; 
            align-items: center;
            width: 80%;
            text-transform: uppercase;
            font-size: 0.8rem;
            padding: 0;
            margin: 1% 0;
            list-style-type: none;
            

            &-item {
                margin: 0 4%;
            }
    
            &-logo {
                padding: 0 1rem;
            }
    
            &-link {
                text-decoration: none;
                color: #4d4959;
                font-weight: 700;
                
                &:hover {
                    color:rgb(92, 196, 175);
                    transition: .4s;
                }
            }
        }
    }

    .nav__fixed-menu {
        position: fixed;
        width: 100%;
        z-index: 20;
        background-color: rgb(64, 80, 77);
        opacity: 0.8;
        transition: 2s;
        border-bottom-left-radius: 2%;
        border-bottom-right-radius: 2%;
    }

    .nav__fixed-menu-color-change {
        color: white;
    }
}

// ****** MOBILE HEADER (NAV && MOBILE NAV) @media

@media (max-width: 80rem) { 
    .header {
        height: 100vh;
        background-size: cover;
        position: relative;

        &__scrollTopButton {
            display: fixed;
        }
    
        .header__scrollTopButton-showUp {
            right: 2%;
            transition: .5s;
        }
    }
}

@media (max-width: 60rem) {
    
    .header {
        height: 70vh;
        background-size: cover;
        background-position: top 55% right 50%; 
        position: relative;

        &__scrollTopButton {
            display: none;
        }
    
        .header__scrollTopButton-showUp {
            right: 2%;
            transition: .5s;
        }

        &__mobile-nav-elements {
            display: flex;
            text-align: center;
            justify-content: center;
            position: absolute;
            background-color: #282f35;
            width: 40%;
            height: 300vh;
            opacity: 0.95;
            z-index: 10;
            left: -70%;

            &-toggle-button {
                position: absolute;
                width: 2.8rem;
                background-color: transparent;
                border: none;
                cursor: pointer;
                padding: 0.6rem 0.4rem;
                z-index: 1;
                left: 2%;

                &:focus {
                    outline: none;
                }

                &-bar {
                    width: 100%;
                    height: 0.1rem;
                    background: white;
                    display: block;
                    margin: 0.4rem 0;
                }
            }

            &-items {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                list-style-type: none;
                margin-top: 10%;
                
                &-logo {
                    width:70%;
                    margin-bottom: 1rem;
                }

                &-item {
                    font-size: 2rem;

                    &-link {
                        text-decoration: none;
                        color: white;
                    }

                    &-dot {
                        color: white;
                    }
                }
            }
        }
        
        .nav {
            display: none;
        }
    }
    
    .header__mobile-nav {
        display: flex;
    } 

    .header__mobile-nav-animate {
        left: 0%;
        transition: .4s;
    }

    .header__mobile-nav-animate-back {
        left: -70%;
        transition: .4s;
    }
}

@media (max-width: 40rem) { // 40rem or smaller

    .header {
        height: 40vh;
        background-position: bottom 55% left 50%;
        background-size: cover;

        &__scrollTopButton {
            display: none;
        }

        &__mobile-nav-elements {
            width: 70%;

            &-items { 
                margin-top: 25%;
            }
        }
        .nav {
            display: none;
        }
    }
    
    .header__mobile-nav {
        display: flex;
    }
}


// ***************************************** VINTAGE BIKE 

.vintageBike {
  background-color: #f7f7f7;
  
    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6rem 8rem;
        font-size: .8rem;
        

        &-title {
            font-size: 1.1rem;
            margin: 1.5rem 0;
            letter-spacing: .3rem;
        }
        
        &-paragraph {
            font-size: 0.9rem;
            line-height: 1.5rem;
            color: #848789; 
            text-align: center;
            max-width: 70rem;
        }
    }
}

// ------------------- vintageBike @media 

@media (max-width: 60rem) {
    .vintageBike {
        background-color: #f7f7f7;
      
          &__description {
              padding: 3rem 6rem;
              
                &-title {
                    padding: 0 1rem;
                    text-align: center;
                }
              
                &-paragraph {
                    text-align: center;
                }
          }
      }
}

@media (max-width: 40rem) { // 40rem or smaller
    
    .vintageBike {
      
        &__description {
            padding: 2rem 0;
      
            &-title {
                text-align: center;
            }
              
            &-paragraph {
                padding: 2rem 1.5rem;
                text-align: justify;
            }
        }
    }
}


// ***************************************** vintageOliva

.vintageOliva {    
    display: flex;
    // align-items: center;

    &__big-image-container {
        display: flex;
        position: relative;
        justify-content: center;
        width: 70%;
        background-color: pink;
        
        &-big-image {
            width: 100%;
            height: 100%;
            background-color: #282f35;
        }
     
        &-center-logo {
            position: absolute;
            bottom: 35%;
            width: 15%;
            height: 25%;
        }
    }

    &__description {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &-text {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 1rem;
            padding-left: 3rem;
            padding-right: 3rem;
            position: relative;
        }
    
        &-title {
            font-size: 1rem;
            letter-spacing: .3rem;
            padding: 1.5rem;
        }
    
        &-logo {
            padding-top: 1.5rem;
        }
    
        &-paragraph {
            font-size: 0.7rem;
            color: #848789;
            text-align: justify;
            line-height: 1.4rem;
            max-width: 100%;
            padding-bottom: 2rem;
            letter-spacing: 0.3px;
        }
        
        &-horizontal-line {
            width: 15%;
            height: 0.1rem;
            background:#b5babd;
            display: block;
            margin: 0.6rem 0;
        }
    
        &-arrow-box {
            width: 30px;
            height: 30px;
            background-color: white;
            position: relative;
            top: 5px;
            transform: rotate(45deg);
        }
    }

    &__small-image-container {
        display: flex;

        &-small-image {
            width: 100%;
            height: 100%;
            background-color: #282f35;
        }
    }
}

// ---------------  vintageOliva @media 

@media (max-width: 60rem) {
    .vintageOliva { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__big-image-container {
            width: 100%;
        }

        &__description {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 2rem;

            &-logo {
                padding-top: 1.5rem;
            }

            &-horizontal-line {
                margin-bottom: 3rem;
            }

            &-arrow-box {
                display: none;
            }
        }
        
        &__small-image-container {
            display: none;
        }
    }
}

@media (max-width: 40rem) {

    .vintageOliva { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__big-image-container {
            width: 100%;
        }

        &__description {
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        &__small-image-container {
            width: 100%;
            display: flex;
        }
    }
}

// ***************************************** LA BORIOSA


.laBoriosa {
    display: flex;

    &__description {
        @extend .vintageOliva__description;

        &-text {
            @extend .vintageOliva__description-text;
        }
    
        &-logo {
            @extend .vintageOliva__description-logo;
        }
    
        &-title {
            @extend .vintageOliva__description-title;
        }
    
        &-paragraph {
            @extend .vintageOliva__description-paragraph;
        }
    
        &-horizontal-line {
            @extend .vintageOliva__description-horizontal-line;
        }
    
        &-arrow-box {
            @extend .vintageOliva__description-arrow-box;
        }
    }

    &__small-image-container {
        @extend .vintageOliva__small-image-container;

        &-small-image {
            @extend .vintageOliva__small-image-container-small-image;
            background-color: #282f35;
        }
    }
    
    &__big-image-container {
        @extend .vintageOliva__big-image-container;
        
        &-big-image {
            @extend .vintageOliva__big-image-container-big-image;
            background-color: #282f35;
        }
    
        &-center-logo {
            @extend .vintageOliva__big-image-container-center-logo;
        }
    }
}

// ----------------- laBoriosa @media

@media (max-width: 60rem) {
    .laBoriosa { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__big-image-container {
            width: 100%;
        }

        &__description {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            padding: 0;

            &-logo {
                padding-top: 1.5rem;
            }
        }
        
        &__small-image-container {
            display: flex;
            width: 100%;
        }
    }
}

@media (max-width: 40rem) {
    .laBoriosa { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__big-image-container {
            width: 100%;
        }

        &__description {
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        &__small-image-container {
            display: none;
            order: -1;
            
        }
    }
}


// ************************************ mHulot 

.mHulot {
    display: flex;
    

    &__left-image-container {
        @extend .vintageOliva__big-image-container;
        width: 33%;

        &-left-image {
            @extend .vintageOliva__big-image-container-big-image;
            width: 100%
        }
    
        &-center-logo {
            position: absolute;
            bottom: 35%;
    
        }
    }

    &__description {    
        @extend .vintageOliva__description; 
        width: 34%;
       
        &-text {
            @extend .vintageOliva__description-text;
        }
    
        &-logo {
            @extend .vintageOliva__description-logo;
        }
    
        &-title {
            @extend .vintageOliva__description-title;
        }
    
        &-paragraph {
            @extend .vintageOliva__description-paragraph;
            padding-bottom: 0;
        }
    
        &-horizontal-line {
            @extend .vintageOliva__description-horizontal-line;
        }
    
        &-arrow-box {
            @extend .vintageOliva__description-arrow-box;
        }
    }

    &__small-image-container {
        display: flex;

        &-small-image {
            @extend .vintageOliva__small-image-container-small-image;
            width: 100%;
        }
    }

    &__right-image-container {
        @extend .vintageOliva__big-image-container;
        width: 33%;

        &-right-image {
            @extend .vintageOliva__big-image-container-big-image;
            width: 100.2%;
        }
    }
}

// ------------------------ @media mHulot -------------------------------

@media (max-width: 60rem) {
    .mHulot {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        &__left-image-container {
            display: none;
        }
    
        &__description {     
            width: 100%;
        
            &-paragraph {
                padding-bottom: 0;
            }
        
        }
    
        &__small-image-container {
            display: flex;
    
            &-small-image {
                display: none;
            }
        }
    
        &__right-image-container {
            width: 100%;
    
            &-right-image {
                width: 100.2%;
            }
        }
    }
}


@media (max-width: 40rem) {
    .mHulot {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__left-image-container {
            display: none;
        }
    }
}


// ***************************** TWEETER CAROUSEL 

.tweeterCarousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    &__slide {
        display: none;

        &-tweet {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5rem 0;
            font-size: .8rem;
    
            &-title {
                font-size: 1.1rem;
                padding: 2rem 0;
                letter-spacing: 1px;
            }
        
            &-text {
                font-size: 1.2rem;
                font-weight: 300;
                font-style: italic;
                text-align: center;
                color: grey;
                width: 75%;
            }
        }
    }

    &__dots {
        text-align: center;
        padding-bottom: 3rem;

        &-dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: white;
            border: .5px solid rgb(223, 220, 220);
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
    
            &:hover {
                background-color: #a9afb3;
            }
        }
    }

    .active {
        background-color: #a9afb3;
    }

    .fade { // FADE EFFECT
        -webkit-animation-name: fade;
        -webkit-animation-duration: 2s;
        animation-name: fade;
        animation-duration: 2s;
    }
      
    @-webkit-keyframes fade {
        from {opacity: .3} 
        to {opacity: 1}
    }
      
    @keyframes fade {
        from {opacity: .3} 
        to {opacity: 1}
    }
} 

// -------------------- TWEETER CAROUSEL @media 

@media (max-width: 40rem) {
    
    .tweeterCarousel {
     
        &__slide {
            
            &-tweet {
        
                &-title {
                    font-size: 1.0rem;
                }
            
                &-text {
                    font-size: 1.1rem;
                    width: 80%;
                }
            }
        }
    
        &__dots {
    
            &-dot {
                cursor: pointer;
                height: 20px;
                width: 20px;
                margin: 0 .2rem;
        
                &:hover {
                    background-color: #a9afb3;
                }
            }
        }
    }
}


// ******************************* bikesImages SHOP

.bikesImages {
    display: flex;

    &__container-left {
        width:33%;
        display: flex;
        flex-direction: column;
        background-color: #FCFFFF;
        position: relative;

        &-top-images {
            display: flex;
            height: 50%;
        }
    }
   
    &__image-1-container { // --------*********--------- IMAGE 1 --------*********---------
        width: 50%;
        position: relative;
        background-color: white;

        &:hover .bikesImages__image-1 {
            opacity: 0.3;
        }

        &:hover .bikesImages__image-1-hover {
            display: flex;
            justify-content: center;
            align-items: center;    
            flex-direction: column;
        }

        &:hover {
            background-color: #499175;
        }
    }

    &__image-1 {
        width: 100%;
        height: 100%;
        transition: .5s;
        position: relative;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transform: translateZ(0);
    }

    &__image-1-hover {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0%;
        display: none;
        

        &-paragraph {
            color: white;
            font-size: 0.8rem;
            letter-spacing: 2.8px;
            font-weight: 700;
            padding-top: 0.5rem;
        }
    }

    &__image-2-container { // --------*********--------- IMAGE 2 --------*********---------
        width: 50%;
        height: 100%;
        position: relative;
        background-color: #fff;

        &:hover .bikesImages__image-2 {
            opacity: 0.3;
        }

        &:hover .bikesImages__image-2-hover {
            display: flex;
            justify-content: center;
            align-items: center;    
            flex-direction: column;
        }

        &:hover {
            background-color: #499175;
        }
    }

    &__image-2 {
        @extend .bikesImages__image-1;
    }

    &__image-2-hover {
        @extend .bikesImages__image-1-hover;

        &-paragraph {
            @extend .bikesImages__image-1-hover-paragraph;
        }
    }

    &__image-3-container-bottom-left { // --------*********--------- IMAGE 3 --------*********---------
        width: 100%;
        height: 50%;
        position: relative;
        background-color: #fff;

        &:hover .bikesImages__image-3 {
            opacity: 0.3;
        }

        &:hover .bikesImages__image-3-hover {
            display: flex;
            justify-content: center;
            align-items: center;    
            flex-direction: column;
        }

        &:hover {
            background-color: #499175;
        }
    }

    &__image-3 {
        @extend .bikesImages__image-1;
    }

    &__image-3-hover {
        @extend .bikesImages__image-1-hover;

        &-paragraph {
            @extend .bikesImages__image-1-hover-paragraph;
        }
    }

    &__container-middle {
        display: flex;
        width: 33%
    }

    &__image-4-container { // --------*********--------- IMAGE 4 --------*********---------
        width: 50%;
        background-color: #000000;
        position: relative;

        &:hover .bikesImages__image-4 {
            opacity: 0.3;
        }

        &:hover .bikesImages__image-4-hover {
            display: flex;
            justify-content: center;
            align-items: center;    
            flex-direction: column;
        }

        &:hover {
            background-color: #499175;
        }
    }

    &__image-4 {
        @extend .bikesImages__image-1;
    }

    &__image-4-hover {
        @extend .bikesImages__image-1-hover;

        &-paragraph {
            @extend .bikesImages__image-1-hover-paragraph;
        }
    }

    &__image-5-container { // --------*********--------- IMAGE 5 --------*********---------
        width: 50%;
        background-color: #fff;
        position: relative;

        &:hover .bikesImages__image-5 {
            opacity: 0.3;
        }

        &:hover .bikesImages__image-5-hover {
            display: flex;
            justify-content: center;
            align-items: center;    
            flex-direction: column;
        }

        &:hover {
            background-color: #499175;
        }
    }

    &__image-5 {
        @extend .bikesImages__image-1;
    }

    &__image-5-hover {
        @extend .bikesImages__image-1-hover;

        &-paragraph {
            @extend .bikesImages__image-1-hover-paragraph;
        }
    }

    &__container-right {
        display: flex;
        width: 34%;
        flex-direction: column;
        align-items: center;
    }    

    &__image-6-container { // --------*********--------- IMAGE 6 --------*********---------
        width: 100%;
        background-color: #fff;
        position: relative;
        display: flex;

        &:hover .bikesImages__image-6 {
            opacity: 0.3;
        }

        &:hover .bikesImages__image-6-hover {
            display: flex;
            justify-content: center;
            align-items: center;    
            flex-direction: column;
        }

        &:hover {
            background-color: #499175;
        }
    }

    &__image-6 {
        @extend .bikesImages__image-1;
    }

    &__image-6-hover {
        @extend .bikesImages__image-1-hover;

        &-paragraph {
            @extend .bikesImages__image-1-hover-paragraph;
        }
    }

    &__container-right-bottom {
        display: flex;
    }

    &__image-7-container { // --------*********--------- IMAGE 7 --------*********---------
        width: 50%;
        height: 50%;
        background-color: #fff;
        position: relative;
        display: flex;

        &:hover .bikesImages__image-7 {
            opacity: 0.3;
        }

        &:hover .bikesImages__image-7-hover {
            display: flex;
            justify-content: center;
            align-items: center;    
            flex-direction: column;
        }

        &:hover {
            background-color: #499175;
        }
    }

    &__image-7 {
        @extend .bikesImages__image-1;
    }

    &__image-7-hover {
        @extend .bikesImages__image-1-hover;

        &-paragraph {
            @extend .bikesImages__image-1-hover-paragraph;
        }
    }

    &__image-8-container { // --------*********--------- IMAGE 8 --------*********---------
        width: 50%;
        height: 50%;
        background-color: #fff;
        position: relative;
        display: flex;

        &:hover .bikesImages__image-8 {
            opacity: 0.3;
        }

        &:hover .bikesImages__image-8-hover {
            display: flex;
            justify-content: center;
            align-items: center;    
            flex-direction: column;
        }

        &:hover {
            background-color: #499175;
        }
    }

    &__image-8 {
        @extend .bikesImages__image-1;
    }

    &__image-8-hover {
        @extend .bikesImages__image-1-hover;

        &-paragraph {
            @extend .bikesImages__image-1-hover-paragraph;
        }
    }
}

// ----------- bikeImages ----------------- @media
@media (max-width: 70rem) {
    .bikesImages {
        
        &__image-1-container { // ********** @media 70rem IMAGE_1 ********** 
            background-color: none;
    
            &:hover .bikesImages__image-1 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;
            }
        }
    
        &__image-1-hover { 
            display: flex;
            justify-content: center;
            align-items: center;    
            flex-direction: column;

            &-paragraph {
                color: #ffffff;
                text-shadow: 1px 1px 1px black;
            }
        }
    
        &__image-2-container { // ********** @media 70rem IMAGE_2 ********** 
    
            &:hover .bikesImages__image-2 {
                opacity: 1;
            }
        }
    
        &__image-2 {
            background-color: black;
        }
    
        &__image-3-container-bottom-left { // ********** @media 70rem IMAGE_3 ********** 
    
            &:hover .bikesImages__image-3 {
                opacity: 1;
            }
        }
    
        &__image-4-container { // ********** @media 70rem IMAGE_4 ********** 
            display: flex;

            &:hover .bikesImages__image-4 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;
            }
        }

        &__image-4 {
            background-color: transparent;
        }
    
        &__image-5-container { // ********** @media 70rem IMAGE_5 **********
            display: flex;
            
            &:hover .bikesImages__image-5 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;
            }
        }
    
        &__image-6-container {  // ********** @media 70rem IMAGE_6 **********
            
            &:hover .bikesImages__image-6 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;
            }
        }
    
        &__image-7-container { // ********** @media 70rem IMAGE_7 **********
            
            &:hover .bikesImages__image-7 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;
            }
        }
    
        &__image-8-container { // ********** @media 70rem IMAGE_8 **********
            &:hover .bikesImages__image-8 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;
            }
        }
    }
}
 
@media (max-width: 60rem) {
    .bikesImages {
        display: flex;
        flex-direction: column;
    
        &__container-left {
            width:100%;
            
    
            &-top-images {
                display: flex;
                height: 50%;
            }
        }
       
        &__image-1-container { // ********** @media 60rem IMAGE_1 **********
            display: none;
        }
    
        &__image-2-container { // ********** @media 60rem IMAGE_2 **********
            display: none;
        }
    
        &__image-3-container-bottom-left { // ********** @media 60rem IMAGE_3 **********
            display: none;
        }
    
        &__image-4-container { // ********** @media 60rem IMAGE_4 **********
            display: none;
        }
    
        &__image-5-container { // ********** @media 60rem IMAGE_5 **********
            display: none;
        }
    
        &__container-right {
            display: flex;
            width: 100%;
            align-items: center;
        }    
    
        &__image-6-container { // ********** @media 60rem IMAGE_6 **********
    
            &:hover .bikesImages__image-6 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;

            }
        }

        &__image-6-hover {
            display: none;

            &-icon {
                display: none;
            }

            &-paragraph {
                display: none;
            }
        }
    
        &__container-right-bottom {
            display: flex;
            width: 100%;
        }
    
        &__image-7-container { // ********** @media 60rem IMAGE_7 **********
            width: 100%;
    
            &:hover .bikesImages__image-7 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;
            }
        }
    
        &__image-7 {
            width: 100%;
            height: 100%;
        }

        &__image-7-hover {
            display: none;

            &-icon {
                display: none;
            }

            &-paragraph {
                display: none;
            }
        }
    
    
        &__image-8-container { // ********** @media 60rem IMAGE_8 **********
            width: 100%;
    
            &:hover .bikesImages__image-8 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;
            }
        }
    
        &__image-8 {
            width: 100%;
            height: 100%;
        }
    
        &__image-8-hover {
            display: none;

            &-icon {
                display: none;
            }

            &-paragraph {
                display: none;
            }
        }
    }
}

@media (max-width: 40rem) {
    .bikesImages {
        display: flex;
        flex-direction: column;
    
        &__container-left {
            width:100%;
            
    
            &-top-images {
                display: flex;
                height: 50%;
            }
        }
       
        &__image-1-container { // ********** @media 40rem IMAGE_1 **********
            display: none;
        }
    
        &__image-2-container { // ********** @media 40rem IMAGE_2 **********
            display: none;
        }
    
        &__image-3-container-bottom-left { // ********** @media 40rem IMAGE_3 **********
            display: none;
        }
    
        &__image-4-container { // ********** @media 40rem IMAGE_4 **********
            display: none;
        }
    
        &__image-5-container { // ********** @media 40rem IMAGE_5 **********
            display: none;
        }
    
        &__image-6-container { // ********** @media 40rem IMAGE_6 **********
            
            &:hover .bikesImages__image-6 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;
            }
        }
    
        &__image-6-hover {  
            display: none;
        }
    
        &__image-7-container { // ********** @media 40rem IMAGE_7 **********
            width: 50%;
            height: 50%;
    
            &:hover .bikesImages__image-7 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;
            }
        }
    
        &__image-7-hover {  
            display: none;
        }
    
        &__image-8-container { // ********** @media 40rem IMAGE_8 **********
            width: 50%;
            height: 50%;
    
            &:hover .bikesImages__image-8 {
                opacity: 1;
            }
    
            &:hover {
                background-color: transparent;
            }
        }
    
        &__image-8-hover {  
            display: none;
        }
    }
}

// ****************** DISCOVER SHOP

.discoverShop {
    background-color: #282f35;
    display: flex;
    justify-content: center;
    align-items: center;


    &__button {
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin: 4rem;
        max-width: 15rem;
        height: 3rem;
        background-color: inherit;
        transition: 1s;
        
        &:focus {
            outline: none;
        }

        &:hover {
            background-color: #499175;
            color: white;
            cursor: pointer;
        }

        &-text {
            font-size: 0.7rem;
            font-weight: 700;
            letter-spacing: 1.3px;
            padding: 0 2.5rem; 
            color: #fff;
        }
    }
}

// ****************** @media ***************** DISCOVER SHOP

@media (max-width: 40rem), (max-width: 60rem), (max-width: 80rem) {
    .discoverShop {
        
        &__button {
            background-color: #499175;
            
    
            &:hover {
                background-color: #499175;
                cursor: default;
            }
        }
    }
}

// ****************** SUBSCRIPTION

.subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__logo {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    &__text {
        font-style: italic;
        font-weight: 300;
        font-size: 1.5rem;
        color: #848789;
        padding-bottom: 2rem;
    }

    &__form {
        display: flex;
        align-items: center;
        padding-bottom: 4rem;
        flex-wrap: wrap;

        &-email {
            padding-right: 0.5rem;
            
            &-input {
                color: #acb2b6;
                font-style: italic;
                padding: 1rem 0.5rem;
                min-width: 20rem;
                box-shadow: 1px 1px 5px 0px #848789;
                border:none;

                &:focus {
                    outline: none;
                }
            }

            &-button {
                background-color:#64c29e;
                padding: 0.9rem 2rem;
                color: white;
                font-size: 1rem;
                border: none;
            
                &:focus {
                    outline: none; 
                }

                &:hover {
                    cursor: pointer;
                    background-color:#53b18d;
                    transition: 1s;
                }
            }
        }
    }
}

// ****************** @media ***************** SUBSCRIPTION

@media (max-width: 40rem) {
    
    .subscription { // do porawki
        justify-content: center;
        padding-bottom: 1rem;
    
        &__form {
            justify-content: center;
            padding-bottom: 4rem;
            flex-wrap: wrap;
    
            &-email {

               &-input {
                    box-shadow: 1px 1px 5px 0px #848789;
                    -webkit-appearance: none;
    
                    &:focus {
                        outline: none;
                    }
                }
    
                &-button {
                    margin-top: 1rem;
                    -webkit-appearance: none;
    
                    &:hover {
                        cursor: default;
                        background-color:#64c29e;
                    }
                }
            }
        }
    }
}

// ********************** FOOTER 

.footer {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;

    &__contact {
        color: #848789;
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        width: 33%;
        flex-direction: column;
        padding-left: 8rem;
        &-city {
            font-weight: 700;
        }

        &-adress {
            font-style: italic;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;
        color: #fff;

        &-twitter {
            background-color: #78cdf0;
            padding: 0.5rem 0.6rem;
            margin: 0.5rem;
            border-radius: 50%;

            &:hover {
                background-color: #67bce0;
                transition: .5s;
                cursor: pointer;
            }
        }

        &-facebook {
            background-color: #537bbd;
            margin: 0.5rem;
            padding: 0.5rem .8rem;
            border-radius: 50%;

            &:hover {
                background-color: #426aac;
                transition: .5s;
                cursor: pointer;
            }
        }

        &-pinterest {
            @extend .footer__social-twitter;
            background-color: #eb5755;

            &:hover {
                background-color: #ca4644;
                transition: .5s;
                cursor: pointer;
            }
        }
    }

    &__handcrafted {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33%;

        &-text {
            color: #848789;
            font-style: italic;
            margin-right: 1rem;
        }
    }
}

// ****************** @media ***************** FOOTER 

@media (max-width: 40rem) {
    .footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    
        &__contact {
            color: #848789;
            font-size: 1rem;
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 0;
            padding-bottom: 1.5rem;
    
            &-adress {
                font-style: italic;
            }
        }
    
        &__social {
            align-items: center;
            width: 100%;
    
            &-twitter {
    
                &:hover {
                    background-color: #78cdf0;
                    cursor: default;
                }
            }
    
            &-facebook {
    
                &:hover {
                    background-color: #537bbd;
                    cursor: default;
                }
            }
    
            &-pinterest {
    
                &:hover {
                    background-color: #eb5755;
                    cursor: default;
                }
            }
        }
    
        &__handcrafted {
            display: flex;
            align-items: center;
            width: 100%;
            padding-top: 1.5rem;
        }
    }
}

    





